/* app-layout */
.app-grid {
    @apply bg-background text-foreground text-sm;
    display: grid;
    min-height: 100vh;
    transition: grid-template-columns .2s ease-in-out;
}

.dashboard {
    grid-template-rows: 200px 1fr 1fr
}

.transactions {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}


/* bottom bar */
.bottom-bar {
    @apply hidden h-[70px] fixed bottom-0 left-0 right-0 z-50 bg-background border-t p-2;
}

.active-indicator {
    @apply w-[60px] h-[100%] bg-primary-foreground-dark absolute top-[50%] rounded;
    transition: transform .2s ease-in-out;
}


@media (max-width: 1300px) {
    .dashboard {
        grid-template-columns: 1fr !important;
    }

    .dashboard {
        height: auto !important;
    }
}

@media (max-width: 870px) {
    .app-grid {
        grid-template-columns: 1fr !important;
    }

    .sidebar {
        display: none;
    }
    .bottom-bar {
        display: block;
    }
}

@media (max-width: 620px) {
    .transactions {
        grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
    }
}